body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color:#fff;
}
.video-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
video {
    width: 48%;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.chat-container {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
}
.messages {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 10px;
}
.message {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.message.user1 {
    background: #d1e7dd;
    text-align: right;
}
.message.user2 {
    background: #f8d7da;
}
.message-input {
    display: flex;
    justify-content: space-between;
}
.message-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
}
.message-input button {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    background: #002e62;
    color: white;
    border: none;
    cursor: pointer;
}
.message-input button:hover {
    background: #296bc7;
}